
@media (max-width: 1160px) {
    .create-store1 .mdi-exclamation {
        top: -19px !important;
    }
}

@media (max-width: 992px) {
    .create-store1 .mdi-exclamation {
        position: absolute !important;
        top: 80px !important;
        left: 14px !important;
    }
}

.create-store1 .mdi-exclamation {
    top: -5px;
    left: 36px;
    color: red;
}