.create-store body{
    padding-right: 0px !important;
}


@media (max-width: 820px) {
    .create-store .timeline:before {
        width: 60% !important;
        top: 54% !important;
        left: 19.5% !important;
    }
}

.create-store .v-input__slot {
    border: 1px solid #ced4da;
    background: white !important;
    border-radius: 30px !important;
}



.create-store .side-left {
    position: relative;
    box-shadow: 0 1px 10px rgb(32 33 36 / 15%);
    border-radius: 30px;
    background-color: white;
    float: left;
    height: 585px;
    margin: 20px;
}

.create-store .side-left .img {
    max-width: 100% !important;
}


.create-store {
    background: white;
    margin: 50px;
    border: none;
    border-radius: 30px;
    margin-left: 11%;
    box-shadow:  0 1px 10px rgb(32 33 36 / 15%);
    height: 550px;
}
@media (max-width: 992px) {
    .create-store {
        margin-left: 6%  !important;
        margin-right: 6%;
    }
}
.side-left{
    box-shadow: none !important;
    height: 300px !important;
}
.create-store .create{
    background-color: white !important;
    color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}
.create-store .button-login{
    width: 200px !important;
    font-size: 20px !important;
}
.create-store .top-button{
    margin-top: 70px;
    margin-right: 60px;
}
.create-store .form-input {
    margin-right: 40px;
    margin-left: 40px;
}

.create-store .label-input {
    text-align: left;
}

.create-store1 .form-row {
    margin-top: 30px;
    margin-bottom: 0px;
}

.create-store .line {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.create-store .timeline {
    height: 250px;
    margin: 0em;
    line-height: 118px;
    position: relative;
    text-align: center;
}

.create-store .timeline:before {
    content: "";
    position: absolute;
    width: 38%;
    top: 54%;
    left: 31.5%;
    height: 3px;
    margin-top: -76px;
    background: var(--second-color);
}

.create-store .event-active {
    width: 55px;
    height: 55px;
    position: relative;
    margin: 0 50px;
    display: inline-block;
    background: var(--second-color);
    vertical-align: middle;
    border-radius: 50%;
}

.create-store .event {
    width: 10px;
    height: 40px;
    position: relative;
    margin: 0 50px;
    display: inline-block;
    background: transparent;
    vertical-align: middle;
    border-radius: 50%;
}

.create-store .detail {
    position: absolute;
    white-space: nowrap;
    font-size: 12px;
    color: var(--gray-medium);
}

.create-store .event-active .detail {
    line-height: 12em;
    left: -5%;
}

.create-store .event .detail {
    line-height: 128px !important;
    left: -25px !important;
}

.create-store .event-active:before,
.create-store .event:before {
    top: 43%;
    content: "";
    position: absolute;
    left: 49%;
    margin-left: -3px;
    width: 7px;
    background: var(--main-color);
    height: 7px;
    border-radius: 50%;
}


.create-store .v-list--dense .v-list-item,
.v-list-item--dense {
    min-height: 50px;
}

.create-store .theme--light.v-application {
    background: transparent !important;
}

.create-store .v-input__slot {
    height: 45px !important;
    box-shadow: none !important;
    min-height: 45px !important;
}

.create-store .v-text-field.v-text-field--solo .v-label {
    left: auto !important;
}

.create-store .custom-control-label::before {
    height: 20px !important;
    width: 20px !important;
}

.create-store .custom-control-label::after {
    top: 2px !important;
    left: -29px !important;
    width: 20px !important;
    height: 20px !important;
}

.create-store .custom-radio .custom-control-label::before {
    top: 2px !important;
    margin-left: -5px !important;
}

.create-store .custom-control-label::before {
    background-color: white !important;
    border: var(--main-color) solid 1px !important;
}

.create-store .buttons {
    display: flex;
    justify-content: center;
}