
@media (max-width: 1160px) {
    .create-store1 .mdi-exclamation {
        top: -19px !important;
    }
}

@media (max-width: 992px) {
    .create-store1 .mdi-exclamation {
        position: absolute !important;
        top: 80px !important;
        left: 14px !important;
    }
}

.create-store1 .mdi-exclamation {
    top: -5px;
    left: 36px;
    color: red;
}
@media (max-width: 992px) {
    .create-store1 {
        height: 1300px !important;
        padding-left: 50px;
    }
}
@media (min-width: 992px) {
    .create-store1 {
        height: 800px !important;
    }
}

.create-store1 .v-application--wrap{
    margin-left: 40px;
}