.dashboard .add{
    padding: 5px !important
}
.card-header{
    font-size: 20px;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    background-color: white !important;
    padding: 15px !important;
    margin-bottom: 10px !important;
    height: 70px;
}
.custom-card {
    box-shadow: 0 1px 10px rgb(32 33 36 / 15%);
    border-radius: 30px !important;
}

.card-title {
    font-size: 16px;
    color: var(--main-color);
    text-align: right;
}
.card-text{
    text-align: right;
    font-size: 14px;
    color: var(--gray-medium);
}

.card-img,
.card-img-top {
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
}

.dashboard .body .mini-card {
    margin: 0px !important;
    padding: 20px !important;
    height: 200px !important;
}

.dashboard .container {
    padding: 5px 25px 25px 25px !important;
}

.dashboard .color {
    color: var(--main-color);
}

.dashboard .row-header {
    align-items: center;
    justify-content: center;
    margin-top: -30px !important;
}

.dashboard .card-footer {
    color: var(--main-color);
    background: none;
    border-top: none !important;
}

.dashboard .v-data-table__wrapper {
    border: none !important
}

.dashboard .button-succefull {
    border: 1px solid #40C93B;
    background-color: #ffffff;
    color: #40C93B !important;
    border-radius: 20px;
    width: 101.23px !important;
}

.dashboard .button-succefull:hover {
    border: 1px solid #40C93B;
    background-color: #40C93B;
    color: #ffffff !important;
    cursor: auto !important;
}

.dashboard .button-prograse {
    border: 1px solid #707070;
    background-color: #ffffff;
    color: #707070 !important;
    border-radius: 20px;
}

.dashboard .button-prograse:hover {
    border: 1px solid #707070;
    background-color: #707070;
    color: #ffffff !important;
    cursor: auto !important;
}

.dashboard .add {
    margin-right: 30px;
}
.dashboard .card-img-top{
    width: 230px;
    height: 230px;
}
.dashboard .v-application{
    border-radius: 30px;
}

.dashboard .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: transparent !important;
}