
.add-dinamic2 .mdi-exclamation {
    left: -20px;
    margin-right: 0px;
    z-index: 100;
    margin-top: -10px;
}
.add-dinamic2 .v-input--radio-group__input .mdi-exclamation{
    margin-top: 10px !important;
    margin-left: -65px !important;
}


.add-dinamic2 .custom{
    min-width: 260px !important;
}

.add-dinamic2 .optinal{
    min-width: 270px !important
}

.add-dinamic2 .date-input .v-input__slot{
    min-width: 310px !important;
    left: 45px;
}
.add-dinamic2 .mdi-calendar{
    margin-top: 14px;
    margin-left: 10px;
    z-index: 10;
}

.add-dinamic2 .v-text-field__slot input{
    margin-right: 45px;
    color: #707070
}

.add-dinamic2 .v-btn__content{
    letter-spacing: 0px !important;
}