
.invoice .card{
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 40px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}
.invoice .card-header{
    font-size: 20px;
    padding:15px;
    background-color:white;
    margin-bottom: 15px;
}

.invoice .btn-list:hover{
    box-shadow: 0 2px 6px 0  rgb(142 155 156 / 50%);
}

.invoice .btn-list{
    background-color: var(--color-main);
    color: white;
    border-radius: 2px;
    font-size: 15px;
    
}

.invoice h1{
    font-weight: normal;
    font-size: 30px;
    color: var(--color-main);
}

.invoice .icone{
    color: var(--color-main);
    font-size: 32px;
    margin-right: 10px;
}
.invoice .header{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.invoice .row{
    justify-content: center;
}
.invoice .color{
    font-weight: bold;
    color: var(--main-color)
}
.invoice .table-header{
    width: max-content;
    margin-top: 10px;
}
.invoice .table-header td{
    padding-left: 0px;
}

.invoice .table-header td,.invoice .table-header th{
    border-top: none !important;
}
.invoice h2{
    color: var(--color-main);
    font-size: 20px;
}
.invoice .from-body , .invoice .to-body{
    font-size: 13px;
}
.invoice .from-table td, .invoice .to-table td{
    padding: 5px 10px 5px 0px;
    
}
.invoice .to-table td{
    padding: 5px 10px 5px 0px;
    
}
.invoice .middle{
    margin-top: 30px;
}
.invoice .invoice-details{
    margin: 50px 20px 50px 20px;
}
.invoice .invoice-details th{
    border-bottom: 1px solid #ddd; 
}
.invoice .footer{
    margin-right: 20px;
    text-align: right;
}
.invoice .comment{
    font-weight: bold;
    margin-bottom: 5px;
}
.invoice .thank{
    font-size: 13px;
    color: #9a9a9a;
}
.invoice .line{
    height: 1px;
    background: #c9c9c9;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.invoice .middle-table{
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.invoice .middle-table td,.invoice .middle-table th{
    border-top: none !important;
}
.invoice .middle .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 4px;
}
.invoice .card-header{
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}

.invoice .line2{
    height: 1px;
    background: #c9c9c9;
    margin-top: 0px;
    margin-bottom: 30px;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;

}
.invoice .card-invoice{
    background-color: transparent !important;
    border: none;
}
.invoice b, .invoice th{
    color: var(--main-color);
}
.invoice .change-height td{
    height: 47.5px !important;
    vertical-align: middle !important;
}