.view .my-table .fa-close {
    color: #dc3545;
    background: #ff00003b;
    border-radius: 7px;
    padding: 7px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 9px;
    padding-right: 9px;
}

.view .my-table .fa-close:hover {
    color: white;
    background-color: #dc3545;
    cursor: pointer;
}

.view .my-table .fa-check {
    color: #1eb018;
    background: rgb(64 201 59 / 21%);
    border-radius: 7px;
    padding: 7px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
}

.view .my-table .fa-check:hover {
    color: white;
    background-color: #1eb018;
    cursor: pointer;
}

.view .my-table .fa-expand-arrows-alt {
    color: var(--main-color);
    background: var(--second-color);
    border-radius: 7px;
    padding: 7px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 9px;
}

.view .my-table .fa-expand-arrows-alt:hover {
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}

.view .product-img {
    border-radius: 30px;
}

.view .product-name {
    text-align: right;
    font-size: 18px;
}

.view .v-dialog {
    border-radius: 20px !important;
}
.view .details{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 15px;
}
.view .t{
    margin-left: 10px;
}