@import "global/reset";


:root{
    --main-color: #af3a88;
    --second-color: #F5EFF3;
    --gray-medium: #707070;
}

[theme="dark"] {
    --main-color: rgb(105, 5, 77);
    --second-color: #eff0f5;
    --gray-medium: #707070;
}
[theme="light"] {
    --main-color: #af3a88;
    --second-color: #F5EFF3;
    --gray-medium: #707070;
}